.editcredentials{
    width: 1500px; 
    height: 800px;   
    overflow-x: hidden;
    overflow-y: hidden;
    background: #b4b4f69e;
    align-items: center;
}

.smalllpanel{
    background: linear-gradient(#fabaf6, #b7abfd);
    width: 400px;
    height: 640px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 550px;
    filter: drop-shadow(0px 5px 1px grey);
}

.topPanel{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.lowwPanel{
    margin-top: 10px;
    height: 243px;
    border-radius: 20px;
    padding: 50px 90px;
}

.employeeImg3{
    margin-left: 127px;
    background-color: white;
    width: 177px;
    height: 177px;
    margin-top: -100px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 1px rgb(161, 159, 159));
}

.uploadImageText3{
    display: none;
}

.addimageFile3{
    margin-left: 180px;
    color: #2d853a;
    font-size: 19px;
}

.innerImageEmpl3{
    /* background-color: red; */
    border-radius: 20px;
    height: 80px;
    width: 300px;
    margin-top: -170px;
    padding-bottom:130px;
}

.editcredImg{
    border-radius: 70px;
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
}

.editcredImg1{
    width: 190px;
    height: 190px;
    border-radius: 250px;
    background-color: rgba(255, 255, 255, 0.637);
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.editcredText{
    margin-left: 107px;
    color: #4c26c1;
    font-size: 16px;
}

.usnText, .passwText, .rewriteText{
    font-size: 18px;
    margin-top: 100px;
}

.usname, .pasw, .passww{
    border-radius: 9px;
    height: 27px;
    width: 230px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 2px 1px rgb(161, 159, 159));
    display: flex;
}

.savebtn{
    margin-top: 30px;
    border-radius: 14px;
    height: 32px;
    width: 130px;
    font-style: bold;
    font-size: 16px;
    color: white;
    background: #7a7cdf;
    border: none;
    margin-left: 46px;
}

