.smallpanel{
    background: #e0d9f5;
    width: 430px;
    height: 640px;
    margin-left: 350px;
    border-radius: 20px;
}

.burgerImg{
    width: 250px;
    /* background: red; */
    margin-left: 93px;
    margin-top: 40px;
    filter: drop-shadow(0px 5px 1px grey);
}

.updatePhoto{
    /* background: red; */
    margin-left: 182px;
    color: #409F4F;
}

.bottomPanel{
    background: linear-gradient(#facef6, #d1cdfd);
    margin-top: 30px;
    height: 340px;
    border-radius: 20px;
    padding: 20px 30px;
    display: grid;
}

.name, .amount, .price{
    border-radius: 7px;
    height: 23px;
    width: 80px;
    border: none;
}

.name, .amount{
    display: grid;
}

.description{
    width: 370px;
    height: 70px;
    border-radius: 10px;
    border: none;
}

.btn{
    display: flex;
    gap: 30px;
    height:150px;
    margin-top: 30px;
}

button{
    border-radius: 13px;
    height: 32px;
    width: 172px;
    font-style: bold;
    font-size: 16px;
    color: white;
    background: #9F9DFF;
    border: none;
}

.red{
    background: #FF9DBB;
}